.article {
  .article-links-1,
  .article-links-2 {
    .clearfix();
  }
  .article-links-1 {
    font-size: @my-font-size-bigger;
    color: @my-text-deep;
    margin: 15px 0;
    a {
      color: @my-text-deep;
    }
  }
  .article-links-2 {
    margin-bottom: 15px;
  }
  .article-tags {
    .pull-left;
    .list-inline;
    margin-bottom: 0;
    a {
      background-color: @gray-lighter;
      padding: 6px 10px;
      .border-top-radius(15px);
      .border-bottom-radius(15px);
    }
  }
  .turnpage {
    .pull-right;
    .list-inline;
    margin-bottom: 0;
  }
  .icons-1,
  .icons-2 {
    .pull-left;
    .list-inline;
    .small;
    margin-bottom: 0;
    a {
      background-color: @my-blue;
      padding: 4px 8px;
      color: #fff;
      .border-top-radius(15px);
      .border-bottom-radius(15px);
    }
  }
  .icons-2 {
    .pull-right;
  }
}

.comments {
  .hd-side();
  .hd {
    border: 0;
    margin: 0;
    padding-bottom: 5px;

    .clearfix();
    h3 {
      .pull-left;
      margin: 0;
    }
    .comments-links {
      .list-inline;
      .pull-right;
      margin: 0;

      li {
        padding: 0 2px;
        color: @my-text-color;
        a {
          color: @my-text-color;
        }
      }

      li + li {
        &:before {
          content: "|";
          margin-right: 5px;
        }
      }
    }
  }
}

.comment-item {
  margin: 18px 0;
  border-bottom: 1px dashed @my-text-light;
  padding-bottom: 18px;
  .clearfix();

  img {
    .pull-left;
    margin-right: 20px;
  }

  p {
    font-size: @my-font-size-bigger;
    color: @my-text-deep;
  }

  .comment-item-info {
    .list-inline;
    margin: 0;
    > li {
      padding-left: 0;

      a {
        color: @my-blue;
        &:before {
          content: "|";
          margin-right: 10px;
          color: @my-text-color;
        }
      }
    }
  }
}

.post-comment {
  clear: both;
  .hd-side();
  .hd {
    border: 0;
    p {
      color: @my-text-color;
    }
  }
  .muststar {
    color: @brand-danger;
    margin: 0 5px;
  }
}

.form-comment {
  label,
  input,
  textarea,
  span {
    float: left;
    margin-right: 10px;
  }

  input,
  textarea {
    border: 1px solid #dedede;
  }

  label {
    width: 70px;
    font-weight: normal;
  }

  .form-item-1,
  .form-item-2,
  .form-item-3 {
    .clearfix;
    margin-bottom: 18px;
  }

  .form-item-1 {
    span {
      margin-top: 5px;
    }
  }

  .form-item-2 {
    span {
      margin-top: 5px;
    }
    img {
      margin-top: -10px;
    }
  }

  .btn-submit {
    margin-left: 80px;
    .btn;
    .btn-info;
    font-size: @my-font-size-bigger;
  }
}





