.article {
  .clearfix();
  border-bottom: 1px dashed @my-text-light;
  margin-bottom: 20px;

  .article-hd {
    .clearfix();
    margin-bottom: 9px;
    img {
      .pull-left;
      margin-right: 10px;
    }
    h4 {
      font-size: @my-font-size-big;
      color: @my-text-deep;
      margin: 3px 0 15px;
    }
    p {
      color: @my-text-light;
      margin-bottom: 0;
    }
  }

  .article-bd {
    .article-cover {
      img {
        margin-bottom: 10px;
      }
    }
    .article-text {
      p {
        line-height: 26px;
      }
    }
  }

  .article-ft {
    .clearfix();

    .info {
      .list-inline;
      .pull-left;
      a {
        .small;
        color: lighten(@my-text-color, 20%)
      }
    }

    .detail {
      .pull-right;
      .small;
      color: lighten(@my-text-color, 20%)
    }
  }

}
