.header {
  .clearfix();
  margin-bottom: 24px;
}

.logo {
  .pull-left;
  font-size: 12px;
  img {
    display: block;
    margin-bottom: 8px;
  }
}

.nav {
  .pull-left;
  margin-left: 50px;
}

.nav-list {
  .list-inline;
  li {
    padding: 0 10px;
    a {
      display: block;
      width: 81px;
      height: 67px;
      text-align: center;
      line-height: 57px;
      font-size:18px;
      color: #000;
    }
    &.curr {
      a {
        background: url(../img/bg1.png) no-repeat 0 0;
        color: #fff;
      }
    }
  }
}

.search {
  .pull-right;
  width: 30%;
  margin: 17px 15px 0 0;

  .form-control {
    .border-left-radius(15px);
  }
  .btn {
    .border-right-radius(15px);
  }
}

.login {
  .pull-right;
  margin-top: 26px;
  color: @my-text-deep;
}