.hd-side() {
  .hd {
    color: @my-text-deep;
    border-bottom: 1px dashed @my-text-light;
    margin-bottom: 5px;
    h3 {
      font-size: @my-font-size-big;
    }
  }
}

.list-side {
  ul {
    padding-left: 16px;
    li {
      line-height: 2.2em;
    }
  }
}

.text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
