.category {
  ul {
    .list-unstyled;
  }

  a {
    display: block;
    margin-bottom: 11px;
    height: 52px;
    line-height: 52px;
    padding-left: 69px;
    font-size: @my-font-size-big;
    text-decoration: none;

    &.cat-1 {
      background: #46B7EB url(../img/bg-cat-1.png) no-repeat;
      color: #fff;
    }
    &.cat-2 {
      background: #F5F5F5 url(../img/bg-cat-2.png) no-repeat;
      color: @my-text-deep;
    }
    &.cat-3 {
      background: #F5F5F5 url(../img/bg-cat-3.png) no-repeat;
      color: @my-text-deep;
    }
  }

}