.hottag {
  .hd-side();

  ul {
    .list-unstyled;
    .clearfix();
    line-height: 2.2em;
    li {
      float: left;
      width: 33.33333%;
      a.em {
        color: @my-blue;
      }
    }
  }
}

.tucao {
  .hd-side();
  .list-side();
}

.readrec {
  .hd-side();
  .list-side();
}

.friendlink {
  .hd-side();
  .list-side();
}