body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @my-text-color;
  background-color: @body-bg;
}

a {
  color: @my-text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken(@my-text-color, 10%);
    text-decoration: underline;
  }

  &:focus {
    .tab-focus();
  }
}
