// @my-text-color: #4d4d4d;
@my-text-color: #878787;
@my-text-light: #bbb;
@my-text-deep: #000;
@my-blue: #46B7EB;


@font-family-sans-serif:  "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;

@my-font-size-big: 20px;
@my-font-size-bigger: 16px;
